.BG_DORDER_RADIUS_SETUP {
    background: #c2f0ff;
    border-radius: 3px;
}
.footer {
    border: 1px solid #000;
}
.nav li button:hover {
    background: #c2f0ff;
    text-decoration: none;
}
.content {
    background: #dedede;
}


.characteristic {
    display: none;
}
.active {
    display: block;
}

